
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaldi:wght@400;700&display=swap');

@import "tailwindcss";

/* START - FONTS */

/* .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}  

  .jaldi {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* END - FONTS */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Jaldi", sans-serif;

    --primary-color: white;
    /* --secondary-color: #25B49F; */
    --secondary-color: #622e1e;
    /* --secondary-color: #6e3c2d; */

    --font-size-s: 1.111rem;
    --font-size-m: 1.556rem;
    --font-size-l: 1.889rem;
    --font-size-xl: 2.333rem;
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.font-primary{
    font-family: var(--primary-font);
}

.font-secondary{
    font-family: var(--secondary-font);
}

.white-color{
    color: var(--primary-color);
}

.choco-color{
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html {
    font-size: 18px;
}

@media screen and (max-width: 62em) {

    /*Tablets (768px to 992px)*/
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 48em) {

    /*Small Phones (576px to 768px)*/
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 36em) {

    /*XS Phones (360px to 576px)*/
    html {
        font-size: 12px;
    }
}